@{
    ViewData["Title"] = "Home Page";
    
}

    <div class="text-center">
        <h1>Bienvenidos a SERSA</h1>
        <h2> Bla bla a vetz</h2>
        <a class="btn btn-success" href="@Url.Action("test", "Formularios")">Pruebas no borrar</a>

    </div>

<script>

</script>
