@{
    ViewData["Title"] = "Inicio";
    
}

<div class="text-center">
    <h1>Bienvenidos a SERSA</h1>

    <br />
    <div class="text-justify">
        <p>
            Este software ha sido diseñado con el objetivo de simplificar el procedimiento de administrar y evaluar la información que se maneja a través del instrumento del
            Ministerio de Salud de Costa Rica, denominado Sistema Estandarizado de Regulación de la Salud (SERSA).
        </p>

        <p>
            La herramienta SERSA es utilizada por el Ministerio de Salud para establecer los factores de riesgo que pueden presentar los diferentes componentes de un sistema de
            abastecimiento de agua potable.
        </p>

        <p>
            <figure>
                <img src="/images/Collage.png" alt="Figura 1. Componentes de acueductos rurales Costa Rica." style=" margin:auto; align-content:center; display:block; height: 550px; width: 550px;">
                <figcaption class="text-center">Figura 1. Componentes de acueductos rurales Costa Rica.</figcaption>
            </figure>
        </p>

        <p>
            Además, clasifica el nivel de riesgo de acuerdo a la siguiente escala: nulo, bajo, intermedio, alto, muy alto.
            Costa Rica Decreto del Poder Ejecutivo 2015. Ver cuadro 1.
        </p>

        <p class="text-center">Cuadro 1. Clasificación de riesgo y código de colores para aplicar la herramienta SERSA</p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Número de Respuestas afirmativas</th>
                    <th scope="col">Clasificación de Riesgo</th>
                    <th scope="col">Colores asignados</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">0</th>
                    <td>Riesgo Nulo</td>
                    <td class="table-success"> </td>
                </tr>
                <tr>
                    <th scope="row">1-2</th>
                    <td>Riesgo Bajo</td>
                    <td class="bg-primary"> </td>
                </tr>
                <tr>
                    <th scope="row">3-4</th>
                    <td>Riesgo Intermedio</td>
                    <td class="bg-success"> </td>
                </tr>
                <tr>
                    <th scope="row">5-7</th>
                    <td>Riesgo Alto</td>
                    <td class="bg-warning"> </td>
                </tr>
                <tr>
                    <th scope="row">8-10</th>
                    <td>Riesgo Muy Alto</td>
                    <td class="bg-danger"> </td>
                </tr>
            </tbody>
        </table>

        <p>
            SERSA utiliza los siguientes puntos de control críticos:

            <ul>
                <li>Fuente de abastecimiento sea ésta: naciente, captación superficial o pozo</li>
                <li>Red de conducción</li>
                <li>Quiebragradientes</li>
                <li>Tanque de almacenamiento</li>
                <li>Planta de potabilización</li>
                <li>Sistema de desinfección</li>
            </ul>
        </p>

        <p>
            Para cada punto anterior, se aplican 10 preguntas que son validadas in situ, a través de una inspección sanitaria o visita de campo.
            Todas las respuestas tienen el mismo peso, la valoración final es la sumatoria de las respuestas afirmativas.
            Dentro del software están contenidos los formularios para la evaluación de cada componente y automáticamente se obtendrá el resultado final de riesgo del respectivo componente.
        </p>

        <p>
            El software está diseñado preferiblemente para los administrados de acueductos rurales (ASADAs Costa Rica).
            Estos podrán registrarse como usuarios del mismo, utilizando la plataforma para generar información que sea utilizada en la preparación de los reportes operacionales que todo sistema de
            abastecimiento de agua potable del país, debe presentar periódicamente al Ministerio de Salud.
        </p>

        <p>
            Esta herramienta computacional ha sido diseñada por el Instituto Tecnológico de Costa Rica a través del proyecto de investigación
            “Establecimiento de los indicadores de riesgo de saneamiento ambiental sostenible IRSAS en el sector de servicios públicos de agua potable y saneamiento en las zonas rurales de Costa Rica” y
            estudiantes de la Escuela de Computación y Carrera de Ingeniería Ambiental
        </p>

    </div>
</div>

<script>

</script>
