@{
    ViewData["Title"] = "Mapa";
}


<!-- Titulo -->
<div class="text-center mt-2 mb-5">
    <h1>Mapa</h1>
</div>

<!--Filtrado de datos para mostrar en el mapa-->
<div class="container" style="margin-bottom:45px;">
    <!--Rango de fechas-->
    <div class="row" style="margin-bottom:25px;">
        <div class="col-md">
            <label for="fecha">Fecha Inicio</label>
            <input class="form-control" type="date" id="fechaInicioMapa">
        </div>
        <div class="col-md">
            <label for="fecha">Fecha Final</label>
            <input class="form-control" type="date" id="fechaFinMapa">
        </div>

    </div>

    <!--Checkboxes para los tipos-->
    <p>Tipos de formularios:</p>
    <div class="row">
        <div class="col-md">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" id="checkAll">
                <label class="form-check-label" for="checkAll">
                    <strong>Todos los formularios</strong>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="checkFS">
                <label class="form-check-label" for="checkFS">
                    Fuente superficial
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="checkFN">
                <label class="form-check-label" for="checkFN">
                    Fuente naciente
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="checkP">
                <label class="form-check-label" for="checkP">
                    Fuente pozos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="checkA">
                <label class="form-check-label" for="checkA">
                    Tanques de almacenamiento
                </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="checkC">
                <label class="form-check-label" for="checkC">
                    Línea de conducción
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="6" id="checkD">
                <label class="form-check-label" for="checkD">
                    Línea de distribución
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="7" id="checkQ">
                <label class="form-check-label" for="checkQ">
                    Tanques quiebragradientes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="8" id="checkCl">
                <label class="form-check-label" for="checkCl">
                    Desinfección
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="9" id="checkPP">
                <label class="form-check-label" for="checkPP">
                    Planta potabilización
                </label>
            </div>
        </div>
    </div>

    <!--Boton-->
    <div class="row">
        <div class="col text-center mt-5">
            <button id="btnMostrarMarcadores" class="btn btn-primary btn-lg" style="background-color: #4f83cc;color:#ffffff;">
                Mostrar en mapa
            </button>
        </div>

    </div>

</div>
<!--Respuesta de la cantidad de resultados que se muestran en el mapa-->
<p id="respuesta"></p>

<!--Mapa-->
<div id="map" style="height:550px;width:100%;"></div>

<!--Simbologia-->
<div class="container" style="margin-top:35px">
    <h3>Simbología</h3>
    <div class="row justify-content-center">
        <div class="col-md">
            <p>
                <img src="/images/symbol_FS.png" alt="Triángulo para representar fuente superficial" style="width:50px;margin-right:30px;">
                Fuente superficial
            </p>

        </div>
        <div class="col-md">
            <p>
                <img src="/images/symbol_FN.png" alt="Círculo para representar fuente superficial" style="width:50px;margin-right:30px;">
                Fuente naciente
            </p>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md">
            <p>
                <img src="/images/symbol_P.png" alt="Estrella para representar fuente pozos" style="width:50px;margin-right:30px;">
                Fuente pozos
            </p>

        </div>
        <div class="col-md">
            <p>
                <img src="/images/symbol_A.png" alt="Pentágono para representar tanques de almacenamiento" style="width:50px;margin-right:30px;">
                Tanques de almacenamiento
            </p>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md">
            <p>
                <img src="/images/symbol_C.png" alt="Triángulo invertido para representar línea de conducción" style="width:50px;margin-right:30px;">
                Línea de conducción
            </p>

        </div>
        <div class="col-md">
            <p>
                <img src="/images/symbol_D.png" alt="Hexágono para representar línea de distribución" style="width:50px;margin-right:30px;">
                Línea de distribución
            </p>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md">
            <p>
                <img src="/images/symbol_Q.png" alt="Forma para representar tanques quiebragradientes" style="width:50px;margin-right:30px;">
                Tanques quiebragradientes
            </p>

        </div>
        <div class="col-md">
            <p>
                <img src="/images/symbol_Cl.png" alt="Cuadrilátero para representar desinfección" style="width:50px;margin-right:30px;">
                Desinfección
            </p>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md">
            <p>
                <img src="/images/symbol_PP.png" alt="Flecha para representar planta potabilización" style="width:50px;margin-right:30px;">
                Planta potabilización
            </p>

        </div>
    </div>
</div>


<!--SCRIPTS--------------------------------------------------------------------------------------------------->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7MjaoxgpHSjhEttKh00FjyOXI_z6drl4&&region=CR&language=es&callback=initMap&libraries=&v=weekly"></script>
<script>
    var res = "";
    let map;
    let markers = [];
    //Orden: FS, FN, P, A, C, D, Q, Cl, PP
    //el primero es nulo, el que sigue es bajo, luego medio, luego alto, luego max y asi para cada tipo
    const icons = ["/images/nulo_FS.png", "/images/bajo_FS.png", "/images/medio_FS.png", "/images/alto_FS.png", "/images/max_FS.png",
        "/images/nulo_FN.png", "/images/bajo_FN.png", "/images/medio_FN.png", "/images/alto_FN.png", "/images/max_FN.png",
        "/images/nulo_P.png", "/images/bajo_P.png", "/images/medio_P.png", "/images/alto_P.png", "/images/max_P.png",
        "/images/nulo_A.png", "/images/bajo_A.png", "/images/medio_A.png", "/images/alto_A.png", "/images/max_A.png",
        "/images/nulo_C.png", "/images/bajo_C.png", "/images/medio_C.png", "/images/alto_C.png", "/images/max_C.png",
        "/images/nulo_D.png", "/images/bajo_D.png", "/images/medio_D.png", "/images/alto_D.png", "/images/max_D.png",
        "/images/nulo_Q.png", "/images/bajo_Q.png", "/images/medio_Q.png", "/images/alto_Q.png", "/images/max_Q.png",
        "/images/nulo_Cl.png", "/images/bajo_Cl.png", "/images/medio_Cl.png", "/images/alto_Cl.png", "/images/max_Cl.png",
        "/images/nulo_PP.png", "/images/bajo_PP.png", "/images/medio_PP.png", "/images/alto_PP.png", "/images/max_PP.png" 
    ]


    $(document).ready(function () {
        //Cuando hace click en mostrar resultado
        $("#btnMostrarMarcadores").on("click", function () {

            deleteMarkers();
            document.getElementById("respuesta").innerHTML = "";

            var strTipos = "";

            if (document.getElementById("checkAll").checked) {
                strTipos = strTipos.concat("1,2,3,4,5,6,7,8,9")
            } else {
                if (document.getElementById("checkFS").checked) {
                    strTipos = strTipos.concat("1,")
                }
                if (document.getElementById("checkFN").checked) {
                    strTipos = strTipos.concat("2,")
                }
                if (document.getElementById("checkP").checked) {
                    strTipos = strTipos.concat("3,")
                }
                if (document.getElementById("checkA").checked) {
                    strTipos = strTipos.concat("4,")
                }
                if (document.getElementById("checkC").checked) {
                    strTipos = strTipos.concat("5,")
                }
                if (document.getElementById("checkD").checked) {
                    strTipos = strTipos.concat("6,")
                }
                if (document.getElementById("checkQ").checked) {
                    strTipos = strTipos.concat("7,")
                }
                if (document.getElementById("checkCl").checked) {
                    strTipos = strTipos.concat("8,")
                }
                if (document.getElementById("checkPP").checked) {
                    strTipos = strTipos.concat("9,")
                }
                strTipos = strTipos.replace(/,\s*$/, "");

            };


            var fechaI = $("#fechaInicioMapa").val();
            var fechaF = $("#fechaFinMapa").val();
            //Busca los resultados en la BD
            $.ajax({
                type: "POST",
                url: '@Url.Action("generarPuntos","Mapa")',
                data: { fechaInicio: fechaI, fechaFin: fechaF, tipos: strTipos },
                success: function (response) {
                    
                    res = response;

                    res.forEach(addMarker);
                    showMarkers();
                    document.getElementById("respuesta").innerHTML ="Mostrando " + res.length + " resultados:";
                },
                error: function () {
                    alert("Error while fetching data");
                }
            });
        });
    });

    //Inicializa el mapa
    function initMap() {
        var myLatLng = {
            lat: 9.934739,
            lng: -84.087502
        };
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: myLatLng,
            zoomControl: true,
            scrollwheel: true,
            draggable: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    };

    //Agrega un marcador en el mapa para el objeto dado
    function addMarker(item) {
        var tipo = item.tipo
        var riesgo = item.riesgo
        var valor = 0
        //Busco el indice del path de la figura dependiendo del tipo de formulario y riesgo
        //Si riesgo es 0, no le sumo nada
        if (riesgo > 0 && riesgo <= 2) { //Riesgo bajo
            valor++;
        } else if (riesgo > 2 && riesgo <= 4) { //Riesgo medio
            valor = valor + 2
        } else if (riesgo > 4 && riesgo <= 7) { //Riesgo alto
            valor = valor + 3
        } else if (riesgo > 7 && riesgo <= 10) { //Riesgo muy alto (max)
            valor = valor + 4
        }
        var iconIndex = (5 * (tipo - 1)) + valor //Valor final del indice
        var shape;
        //Defino los limites para hacer click en cada figura
        if (tipo == 1) { //FS: Triangulo
            shape = {
                coords: [12, 2, 24, 23, 0, 23],
                type: "poly"
            }
        } else if (tipo == 2) { //FN: Circulo
            shape = {
                coords: [0, 9, 9, 0, 15, 0, 24, 9, 24, 15, 15, 24, 9, 24, 0, 15],
                type: "poly"
            }
        } else if (tipo == 3) { //P: Estrella
            shape = {
                coords: [0, 9, 9, 9, 12, 1, 15, 9, 24, 9, 17, 15, 19, 22, 12, 18, 5, 22, 7, 15],
                type: "poly"
            }
        } else if (tipo == 4) { //A: Pentagono
            shape = {
                coords: [0, 9, 12, 0, 24, 9, 20, 24, 4, 24],
                type: "poly"
            };
        } else if (tipo == 5) { //C: Triangulo invertido
            shape = {
                coords: [0, 4, 24, 4, 12, 20],
                type: "poly"
            }
        } else if (tipo == 6) { //D: Hexagono
            shape = {
                coords: [4, 5, 12, 0, 21, 5, 21, 19, 13, 24, 4, 19],
                type: "poly"
            }
        } else if (tipo == 7) { //Q: Figura
            shape = {
                coords: [2, 0, 21, 0, 21, 17, 20, 19, 18, 22, 14, 24, 9, 24, 5, 22, 3, 19, 2, 17],
                type: "poly"
            }

        } else if (tipo == 8) { //Cl: Rombo
            shape = {
                coords: [1, 18, 12, 7, 23, 7, 12, 18],
                type: "poly"
            }

        } else if (tipo == 9) { //PP: Flecha
            shape = {
                coords: [2, 11, 12, 1, 21, 11, 21, 23, 12, 14, 2, 23],
                type: "poly"
            }
        }


        var latLng = {
            lat: Number(item.latitud),
            lng: Number(item.longitud)
        };
        const image = {
            url: icons[iconIndex],
            size: new google.maps.Size(500, 500),
            scaledSize: new google.maps.Size(25, 25),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(12,12)
        }
        var marker = new google.maps.Marker({
            position: latLng,
            title: item.acueducto,
            icon: image,
            shape: shape
        });
        markers.push(marker);
        
    };

    function setMapOnAll(map) {
        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    function clearMarkers() {
        setMapOnAll(null);
    }

    function showMarkers() {
        setMapOnAll(map);
    }

    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }

    //Deshabilita los otros checkboxes si la opcion de "todos" esta puesta
    $("#checkAll").click(function () {
        if (document.getElementById('checkAll').checked) {

            document.getElementById('checkFS').disabled = true
            document.getElementById('checkFN').disabled = true
            document.getElementById('checkP').disabled = true
            document.getElementById('checkA').disabled = true
            document.getElementById('checkC').disabled = true
            document.getElementById('checkD').disabled = true
            document.getElementById('checkQ').disabled = true
            document.getElementById('checkCl').disabled = true
            document.getElementById('checkPP').disabled = true
        } else {
            $("#checkFS").removeAttr("disabled");
            $("#checkFN").removeAttr("disabled");
            $("#checkP").removeAttr("disabled");
            $("#checkA").removeAttr("disabled");
            $("#checkC").removeAttr("disabled");
            $("#checkD").removeAttr("disabled");
            $("#checkQ").removeAttr("disabled");
            $("#checkCl").removeAttr("disabled");
            $("#checkPP").removeAttr("disabled");
        }
    });
</script>
