@{
    ViewData["Title"] = "Formularios";
}

    <div class="card-columns">
        <div class="card h-100">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Pozos</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Almacenamiento</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Captacion</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Conduccion</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Distribucion</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Quiebragradientes</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Limpieza</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Potabilizacion</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <p style="color:white" class="card-text">Toma</p>
            </div>
        </div>
    </div>