@{
    ViewData["Title"] = "Formularios";
}

<link href="~/lib/font-awesome/css/all.css" rel="stylesheet"/>
<div class="card-columns">
    <div class="card">
        <div class="card-header">Pozos</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
            
        </div>
    </div>
    <div class="card">
        <div class="card-header">Almacenamiento</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Captacion</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Conduccion</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Distribucion</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Quiebragradientes</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Limpieza</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Potabilizacion</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Toma</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                <div class="col-6 c">
                    <button href="#" class="btn btn-lg">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>