@model IEnumerable<FormularioInforme>

<table class="table">
    <tr>
        <th>id</th>
        <th>acueducto</th>
        <th>fecha</th>
       
    </tr>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.acueducto</td>
                    <td>@item.fecha</td>
                </tr>
            }
        }
    </tbody>
</table>