
@model IEnumerable<FormularioInforme>

@{
    ViewData["Title"] = "Informe";
}

<head>
    <link rel="stylesheet" href="~/css/informe.css" />
</head>
<body>
    <div class="text-center mt-2 mb-5">
        <h1>Generacion de Informe</h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-6">
                <label for="fecha">Fecha Inicio</label>
                <input class="form-control" type="date" id="fechaInicioInforme">
            </div>
            <div class="col-6">
                <label for="fecha">Fecha Final</label>
                <input class="form-control" type="date" id="fechaFinInforme">
            </div>

        </div>
        <div class="row">
            <div class="col text-center mt-5">
                <button id="btnBuscarInforme" class="btn btn-primary btn-lg" style="background-color: #4f83cc;color:#ffffff;">Buscar</button>
            </div>

        </div>


    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5" id="tabla">
                @Html.Partial("_FormularioInforme", Model)
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnBuscarInforme").on("click", function () {
            var enteredNum = $("#searchNumber").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("filtrarInformes", "Informe")', 
             
                dataType: 'html', 
                success: function(response) {
                    $('#tabla').html(response);
    }
});

        });
});
</script>
